@import './styles-platform/macos.css';
@import './styles-platform/windows.css';
@import './styles-platform/ubuntu.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}@layer utilities {
  .animate-button-pulse {
    animation: button-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  @keyframes button-pulse {
    0%, 100% { opacity: 1; transform: scale(1); }
    50% { opacity: .7; transform: scale(0.95); box-shadow: 0 0 10px 1px rgba(168, 85, 247, 0.4); }
  }
}
